GROQ_API_KEY=your_groq_API_key  #do not add any whitespaces or ""
USER_NAME=Aakash



DEFAULT_GROQ_MODEL=llama-3.3-70b-versatile #change if llama doesn't work

VOICE_ID=en-US-AriaNeural
RATE=-10%
VOLUME=+0%
PITCH=+7Hz

KOKORO_MODEL_PATH=mahiru/KokoroTTS/Kokoro_espeak_Q4.gguf
KOKORO_VOICE=af_bella
KOKORO_SPEED=1.0